body {
  padding-bottom : 70px;
}

.grid-item-color {
  width : 4%;
  height : 32px;
  cursor : pointer;
}

.grid-item-pattern {
  width : 100px;
  height : 100px;
  margin : 5px;
  padding : 6px;
  white-space : normal;
  cursor : pointer;
}

.grid-pattern-brightness {
  height : auto !important ;
}

.badgebox {
  opacity : 0;
}

.badgebox + .badge {
  text-indent : -999999px;
  width : 27px;
}

.badgebox:focus + .badge {
  box-shadow : 0 0 5px inset;
}

.badgebox:checked + .badge {
  text-indent : 0;
}

.btn-success {
  margin-right : 5px;
}

.form-pl-fixer {
  padding: 0 !important;
  border: none !important;
}

@media only screen and (max-width: 992px) {
  .form-btn-fixer {
    padding-right: 0 !important;
  }
  
  .navbar-brand {
    display: none !important;
  }
  
  .navbar-right {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    display: block !important;
  }
  
  .navbar-right {
    display: block !important;
  }
}